@model Shop.Models.Spaceship.SpaceshipDetailsViewModel

<h1>Details</h1>  


<duv>

    <h4>Spaceship</h4>
    <hr />
    <dl class="row">
        <div class="form-group row"> 
            <label asp-for="Id" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model=>Model.Id)  

        </div>

        <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model=>Model.Name)

        </div>

        <div class="form-group row">
        <label asp-for="Type" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model=>Model.Type)

        </div>

        <div class="form-group row">
        <label asp-for="Passangers" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model=>Model.Passangers)

        </div>

        <div class="form-group row">
        <label asp-for="EnginPower" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model=>Model.EnginPower)

        </div>

        <div class="form-group row">
        <label asp-for="Crew" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model=>Model.Crew)

        </div>

        <div class="form-group row">
        <label asp-for="Company" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model=>Model.Company)

        </div>

        <div class="form-group row">
        <label asp-for="CargoWeight" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model=>Model.CargoWeight)

        </div>

        <div class="form-group row">
        <label asp-for="CreatedAt" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model=>Model.CreatedAt)

        </div>

        <div class="form-group row">
        <label asp-for="Modifieted" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model=>Model.Modifieted)

        </div>

        @foreach (var images in Model.FileToApiViewModels)
        {
            
            <partial name="_Images" model="images" />
            
        }

    </dl>
    </hr>
    <a asp-action="index" class="btn btn-primary">Back</a>


</duv>
